@import 'Src/styles/variables.scss';

.profile-svg-icon {
  width: 40px;
  height: 40px;
}

.menu-svg-icon {
  width: 24px;
  height: 24px;

  path {
    fill: $panel-header-icon;
  }
}

.message-svg-icon {
  width: 24px;
  height: 24px;

  path {
    fill: $panel-header-icon;
  }
}

.group-svg-icon {
  width: 24px;
  height: 24px;

  path {
    fill: $panel-header-icon;
  }
}

.status-svg-icon {
  width: 24px;
  height: 24px;

  path {
    fill: $panel-header-icon;
  }

  .status-label {
    fill: #009588;
  }
}

.lock-svg-icon {
  width: 12px;
  height: 12px;

  path {
    fill: $secondary-lighter;
  }
}

.arrow-svg-icon {
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  animation-name: rotate-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  path {
    fill: $green;
  }
}

.send-message-svg-icon {
  path {
    fill: $secondary-lighter;
  }
}

.search-svg-icon {
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  opacity: 0.3;
  animation-name: rotate-in;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;

  path {
    fill: $secondary-lighter;
  }
}

.remove-svg-icon {
  path {
    fill: $secondary-lighter;
  }
}

@keyframes rotate-out {
  0% {
    transform: rotate(-90deg);
    opacity: 0.3;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(90deg);
    opacity: 0.3;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
