$dark: #10161a;
$green: #00a884;
$link: #53bdeb;
$intro-background: #222e35;
$dropdown-background: #233138;
$default-background: #111b21;
$chat-background: #0b141a;
$background-default-hover: #202c33;
$dropdown-background-hover: #182229;
$panel-header-icon: #aebac1;
$intro-border: #008069;
$outgoing-background: #005c4b;
$secondary: #8696a0;
$secondary-lighter: #667781;
$intro-secondary: #8696a0;
$thumb-color: #2f363a;

$border-list: rgba(134, 150, 160, 0.15);
$primary-title: rgba(233, 237, 239, 0.88);
$menu-bar-item-background-active: hsla(0, 0%, 100%, 0.1);

$panel-header-height: 59px;
